html, body {
    background-color: black;
    min-height: 100vh;
}

p {
    color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    font: raleway;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    padding: 5%;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

nav {
    background: #36454F;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  color: #FEFAE0;
} 

nav li {
    display: inline-block;
    float: right;
    padding-left: 2%;
    padding-right: 2%;
    color: #FEFAE0;
}

section {
align-items: center;
}

article {
    margin-left: 10%;
    color: #FEFAE0;
    font-family: Arial, Helvetica, sans-serif;   
}

footer {
    display: flex;
    flex-direction: column;
    background: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
    bottom: 0%;
    padding: 1rem;
}

.flexboxcontainer1 {
    width: 45%;
    position: relative;
    margin-left: 15%;
    margin-top: 10%;  
}

.flexboxcontainer2 {
    display: flex;
    border: 1px solid #783d19;
    background: #36454F;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.flexboxcontainer3 {
    display: flex;
    position: relative;
    background-color: black;
    max-width: 1200px;
    margin: 0 auto;
}

.githublogo {
    size: 0cap;
}

#Headshot {
    width: 20%;
    display: block;
    border-radius: 15px;
    position: relative;
    float: right;
    margin-right: 10%;
}

#project1 {
    display: flexbox;
    border: 1px solid #783d19;
    width: 300px;
    height: 400px;
    margin-top: 20%;
    
}

#project2 {
    display: flexbox;
    border: 1px solid #783d19;
    width: 300px;
    height: 400px;
}

#project3 {
    display: flexbox;
    width: 300px;
    height: 400px;
}