
/*--------- Main Section ---------*/

html, body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
}

p {
    color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    font: raleway;
}

h1 {
    font-family:Arial;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    padding: 5%;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

span {
    font-family: Arial;
    font-style: bold;
}

/*--------- Navigtation Bar ---------*/
nav {
    display: flex;
    background: #36454F;
    width: 100%;
    justify-content: flex-end;
    
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
} 

nav ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 5%;
}

nav li {
    display: inline-block;
    color: whitesmoke;
}

section {
align-items: center;
}

article {
    margin-left:10%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;   
}

/*--------- About Me ---------*/

.flexboxcontainer1 {
    width: 45%;
    position: relative;
    margin-left: 15%;
    margin-top: 10%;  
}

#Headshot {
    width: 20%;
    display: block;
    position: relative;
    float: right;
    margin-right: 15%;
}

/*--------- Portfolio ---------*/

.flexboxcontainer2 {
    display: flex;
    background: #36454F;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;  
}

.flexboxcontainer4 {
    display: flexbox;
    border: 1px solid black;
}

#project1 {
    display: flexbox;
    border: 1px solid black;
    border-radius: 10%;
    width: 250px;
    height: 350px;
    margin-top: 10%;
    margin-right: 2%;
    text-align: center;
}

#project2 {
    display: flexbox;
    border: 1px solid black;
    border-radius: 10%;
    width: 250px;
    height: 350px;
    margin-top: 10%;
    margin-left:2%;
    margin-right: 2%;
    text-align: center;
    align-self: center;
}

#project3 {
    display: flexbox;
    border: 1px solid black;
    border-radius: 10%;
    width: 250px;
    height: 350px;
    margin-top: 10%;
    margin-left: 2%;
    text-align: center;
}

/*--------- Contact Form ---------*/

.flexboxcontainer3 {
    display: flex;
    position: relative;
    background-color: black;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 2%;
    align-items: center;
}

#form {
    display: flexbox;
    align-items: center;  
    justify-content: right;
    align-self: center;   
}

input {
    width: 100%;
    border: none; 
}

button {
    margin-top: 10%;
}

/*--------- Footer ---------*/

footer {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
    bottom: 0%;
    padding: 1rem;
}